version: '3.8'

services:
    elasticsearch:
        image: elasticsearch:8.11.1
        container_name: es01
        environment:
            - discovery.type=single-node
            - xpack.security.enabled=false
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        volumes:
            - esdata:/usr/share/elasticsearch/data
        ports:
            - "9200:9200"
        networks:
            - elastic-net

    kibana:
        image: kibana:8.11.1
        container_name: kibana01
        environment:
            - ELASTICSEARCH_HOSTS=http://es01:9200
        ports:
            - "5601:5601"
        depends_on:
            - elasticsearch
        networks:
            - elastic-net

networks:
    elastic-net:
        driver: bridge

volumes:
    esdata:
        driver: local
